body {
    background: url(../Content/Images/backf.jpg) no-repeat center fixed;
}

.center {
    width: 1120px;
    margin: auto;
}

.panel-top {
    height: 33px;
    border-top: 3px solid #CC3333;
    background: #2A2B2C;
}

.social a {
    display: inline-block;
    vertical-align: middle;
    width:23px;
    height:23px;
    background: url(../Content/Images/social.png) no-repeat center;
    -webkit-border-radius: 50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.social {
    float: left;
    padding: 4px 0;
}


.login {
    padding-top: 7px;
    float: right;
}

.login a,
.login span {
    color: #fff;
}

.login a:hover {
    text-decoration: underline;
}

.basket {
    width: 120px;
    height: 45px;
    float: right;
    margin-left: 25px;
    background: #C33 url(../Content/Images/basket.png) no-repeat 5px 7px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

.basket a {
    display: block;
    height: 45px;
    color: #fff;
    padding: 10px 0 0 41px;
}

#header {
    padding: 18px 0;
}

#logo img,
#logo span{
    display: inline-block;
    vertical-align: middle;
}

#logo span {
    font-size: 30px;
    color: black;
}

.nav {
    margin-top: -45px;
    float:right;
}

.nav li{
    position: relative;

    float: left;
}

.nav li+li {
    margin-left:30px;
}

.nav li:before {
    content: "";
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -18px;
    display: none;
    width: 35px;
    border-top: 4px solid #EFC539;
}

.nav li:hover::before {
    display: block;
}

.nav li a{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
}

#home {
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    padding-bottom: 8px;
    margin-bottom: 40px;
}

.home-bg {
    background: #cc3333;
    padding: 20px 0;
    box-shadow: inset: 0 5px 5px rgba(0,0,0,.25);
    -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
    box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.title-home {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
    font: 28px,'Oswald', sans-serif;
}

.link-home {
    margin-top: -30px;
    float: right;
    width: 90px;
    height: 90px;
    display: inline-block;
    background: url(../Content/Images/home.png) no-repeat;
}

.sorting {
    padding: 18px 8px;
    background: url(../Content/Images/sorting.png) no-repeat;
    border-radius: 3px;
}

.s-category li {
    list-style-type: none;
    float: left;
    padding: 4px 15px 0 8px;
}

.s-category a {
    color: #1E1E20;
    text-transform: uppercase;
}

.s-category a:hover,
.s-category li:active a {
    color: #000;
}

.s-list {
    vertical-align: middle;
    font-size: 25px;
    margin-top: -39px;
    float: right;
}
.s-list a {
    height: 20px;
}

.sort {
    display: block;
    margin-left: 20px;
}

.sidebar {
    width: 272px;
    height: 1649px;
    padding: 18px 8px;
    background: url(../Content/Images/sidebar.png) no-repeat;
    border-radius: 3px;
    margin-top: 40px;
    float: right;
    padding: 3px;
}
@font-face {
    font-family: Krut; /* Гарнитура шрифта */
    src: url(/Content/11729.ttf); /* Путь к файлу со шрифтом */
}
.sidebar h1 {
    font-family: Krut, 'Comic Sans MS', cursive;
    margin-left: 10px;
    text-align: center;
    margin-top: 100px;
    font-size: 48px;
    width: 220px;
}

.s-img {
    margin-left: 20px;
}

.s-products {
    width: 272px;
    height: 556px;
    background: url(../Content/Images/ramka.png) no-repeat;
    overflow: hidden;
}

.content {
    width: 900px;
    margin-top: 40px;
}

.products {
    float: left;
    width: 272px;
    height: 556px;
    background: url(../Content/Images/ramka.png) no-repeat;
    overflow: hidden;
}

.s-p-footer-price{
    margin-left: 23px;
}
.s-add-cart {
    float: right;
    padding: 5px 8px;
    font-size: 10px;
    color: #fff;
    margin-right: 30px;
    background: #000;
    margin-top: -25px;
    text-transform: uppercase;
    border-radius: 5px;
}

.s-products h6 {
    text-align: center;
    margin: 10px 5px 10px;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.s-p-img {
    width: 220px;
    margin-left: 23px;
    margin-top: 99px;
    height: 220px;
    overflow: hidden;
    border-radius: 5px;
}

.s-p-footer {
    padding: 0 8px 8px 15px;
}

.s-products h6 a:hover {
    text-decoration: underline;
    color: #000;
}

.s-p-footer p {
    width: 210px;
    margin-left: 15px;
    height: 90px;
    overflow: auto;
}

.products:nth-child(3n) {margin-right: 0; }

.p-img {
    margin-left: 23px;
    margin-top: 99px;
    width: 220px;
    height: 220px;
    overflow: hidden;
}
.p-footer {
    padding: 0 8px 8px 15px;
}

.products h6 {
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

.products h6 a:hover{
    color: #000;
}

.p-footer p {
    height: 90px;
    width: 200px;
    margin-left: 13px;
    overflow:auto;
}

.p-footer-price {
    margin-left: 13px;
    margin-top: 10px;
}

.price-lg {
    color: red;
    font-size: 14px;
    display: inline-block;
    font-weight: bold;
    margin-top: 3px;
}

.p-footer p strong {
    font-weight: bold;
}


.price, .discount {
    display: inline-block;
    font-weight: bold;
    margin-top: 3px;
}

.discount {
    line-height: 16px;
    color: #fff;
    background: #C33;
    padding: 1px 3px;
}

.add-cart {
    float: right;
    padding: 5px 8px;
    margin-right: 30px;
    margin-top: -23px;
    font-size: 10px;
    color: #fff;
    background: #000;
    text-transform: uppercase;
    border-radius: 5px;
}

.add-cart:hover {
    background: #888;
    color: black;
    text-decoration: none;
}

#orderCompleted{
    margin-left:36%;
}
#orderCompleted input{
    padding-bottom:7px;
    margin-bottom:5px;
    width: 250px;
    border: 1px solid #00942f;
   font-size: 15px; 
   font-family: Tahoma; 
}
#orderCompleted label{
    font-size:15px;
    color:black;
}

.form-group input {
    width: 100%;
    margin: 5px 0px 5px 0px;
}

#page a {
    border-radius: 4px;
    border: 3px solid #000;
    color: #3e29cb;
    background: #e0e0e0;
    display: block;
    float: left;
    font-size: 17px;
    margin-right: 13px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}

#page {
    text-align: center;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 290px;
}

#page a:active{
    background: #EFC539;
}

.table{

    background: white;
    border-radius: 15px;
}

.login {
    float: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    margin-top: -60px;
}

.l-hl {
}
.l-lo {
    background-color: darkgreen;
    border-radius: 10px;
    border: 6px rgb(18, 104, 51);
    padding: 4px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.l-ou {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;

}
.l-out {

    background-color: darkgreen;
    border-radius: 10px;
    border: 6px rgb(18, 104, 51);
    padding: 4px;
    color: #fff;
    margin-left: 30px;
}

.acc {    
    float: right;
    padding: 4px;
    color: #fff;
    margin-left: 30px;
}

.p-t-acc {
    background-color: darkgreen;
    border-radius: 10px;
    border: 6px rgb(18, 104, 51);
    padding: 4px;
    color: #fff;
    vertical-align: middle;
    margin-left: 30px;
}

.c-w {
    color: white;
    font-size: 21px;
}