@using PlaySpace.Models
@model IEnumerable<Category>

@{
    Layout = null;
}
<form name="1">
    <select name="Categories" size="1">
        @foreach (var item in Model)
        {
            <option select value="@item.Id">@item.CategoryName</option>
        }
        </select>
</form>