@model IEnumerable<string>

<li>
    @Html.ActionLink("Все товары", "List", "Games", null, null)
</li>

@foreach (var link in Model)
{
    <li>
        @Html.RouteLink(link, new
        {
            controller = "Games",
            action = "List",
            category = link,
            page = 1
        }, null)
    </li>
}