<table>
    @if (User.Identity.IsAuthenticated)
    {
        <tr class="l-ou"><span>Привет, @User.Identity.Name!</span></tr>
        @Html.ActionLink("Профиль", "Index","Account", new { userName = User.Identity.Name }, null )
        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form-inline" }))
        {
            <tr><button class="l-out">Выйти</button></tr>
        }
    }
    else
    {
        <tr class="l-hl"><span>Привет, гость!</span></tr>
        <tr class="l-lo"><span><a href="/Account/Login" class="l-out">Войти</a></span></tr>
    }
</table>